.bar1,.bar2,.bar3{
    /* height: 2px;
    width: 25px;
    background-color: black;
    margin: 0.5rem; */
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;   
}

.change{
    /* background-color: white; */
    /* color: #fff; */
    z-index: 10;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
    /* background-color: #000; */
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
    /* background-color: #000; */
}