*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --wrapperMaxWidth:1600px;
}

#main-page-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #191414;
}

#main-page-container>main{
    flex: 1;
}

#main-container>header>#inner-header-container>#header-title{
    color: white;
}

#wrapper-container{
    color: white;
}

#loading-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wrapper-container{
    border: 1px solid white;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.9);
    max-width: var(--wrapperMaxWidth);
    /* min-height: 50vh; */
    /* margin: 3rem 0;
    margin: 1rem auto; */
    margin: 2rem auto;
    min-height: calc(100vh - 200px);
}

@media screen and (min-width:1000px){
    #main-page-container>main{
        /* display: flex;
        justify-content: center;
        align-items: center; */
        /* display: grid;
        grid-template-columns: 1fr;
        place-items: center; */
    }

    #wrapper-container{
        display: grid;
        grid-template-columns: 200px 1fr;
    }
}