@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --PlaylistCardMaxWidth:200px;
}

.normal{
    width: 95%;
    max-width: var(--PlaylistCardMaxWidth);
    /* margin: 0 auto; */
    border-radius: 5px;
    /* padding: 1rem; */
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.6);
    /* box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2); */
    /* margin-bottom: 1rem; */
}

#playlist-card-container:hover{
}

#playlist-card-container>img{
    max-width: 100%;
}

#meta-data-container{
    display: flex;
    justify-content: space-between;
}

#public-tag{
    font-family: 'Sora', sans-serif;
    color: #1DB954;
}

#public-tag:hover{
    transition: 1s;
    opacity: 0.5;
}

.expand{
    /* position: absolute;
    top: 0;
    bottom: 0;
    background-color: black;
    border: 2px solid red; */
    /* height: 100%; */
    /* overflow: hidden; */
}

/* #expand-card-exit{
    position: absolute;
    top: 0;
    right: 0;
} */

@media screen and (min-width:500px){
    .expand{
        background-color: black;
    }
}

@media screen and (min-width:1000px){
    #playlist-card-container{
        margin: 0;
        /* margin: 0 0.5rem 0 0; */
        /* column-gap: 50px; */
    }
}