*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#burger-btn-container{
    position:absolute;
    top: -2px;
    right: 5px;
    z-index: 2;
}

.nav-link{
    /* display: block; */
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

.nav-link::after{
    /* content: '';
    display: block;
    width: 0;
    transition: width 1s ease-in-out;
    background-color: black;
    height: 1px; */
}

/* .nav-link:hover::after{
    width: 50px;
    margin: 0 auto;
} */

#action-btn-container>#action-btn{
    padding: 0.5rem 3rem;
    background-color:#191414;
    color:white;
    border-radius:5px;
    font-size:1rem;
    border: 0;
}

nav>#nav-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #1DB954;
    width: 0;
    overflow: hidden; 
    transition: 1s;
    z-index: 2;
    /* border: 2px solid red; */
}

.nav-link{
    text-decoration: none;
    /* transition: 2s; */
    margin: 2rem 0;
}

/* .nav-link::after{
    content: 'ss';
    display: block;
    width: 0;
} */

#user-container{
    margin-top: 1rem;
}

#user-container>p{
    font-size: 1.2rem;
}

@media screen and (min-width:800px){
    #burger-btn-container{
        display: none;
    }

    nav>#nav-links{
        display: flex;
        flex-direction: row;
        position: static;
        background-color: transparent;
        width: auto;
        align-items: center;
    }

    .nav-link{
        display: inline-block;
        margin: 0 1rem 0 0;
        color: white;
    }

    #action-btn-container{
        color: yellow;
    }

    #action-btn-container{
        display: inline-block;
        /* margin: 1rem 0; */
        /* margin-top: 0.4rem; */
    }

    #action-btn-container>#action-btn{
        /* margin-top: 0.4rem; */
        margin: 0;
        background-color: #1DB954;
        color: #191414;
    }

    #user-container{
        display: none;
        margin-top: 1rem;
    }
    
    #user-container>p{
        font-size: 1.2rem;
        color: white;
    }

}