*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#artist-search-container{
    /* border: 2px solid red; */
}

.input-group{
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.input-group>input{
    width: 100%;
}

#artist-info-container{
    margin: 2rem 0;
}