@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input-group{
    width: 100%;
    max-width: 250px;
}

.input-group>input{
    width: 100%;
}

#playlist-name{
    padding: 0.6rem;
    border-radius: 8px;
    border: 0;
    outline: 0;
}

.public-radio,.collab-radio{
    background-color: #1DB954;
    padding: 0.5rem 2rem;
    border-radius: 12px;
}

.public-radio>label{
    margin: 0 0 0 1rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;
}

.collab-radio>label{
    margin: 0 0 0 1rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;
}

.input-group>#description{
    padding: 0.6rem;
    border-radius: 8px;
    border: 0;
    outline: 0;
}

#public-container,#collabrative-container{
    margin: 1.5rem 0;
}

#radio-button-container{
    display: flex;
    justify-content: space-evenly;
}

label{
    font-size: 1.2rem;
}

#public-container{
    margin: 0 0 1rem 0;
}

@media screen and (min-width:1000px){
    #public-container{
        /* display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center; */
    }   

    #radio-button-container{
        /* display: flex;
        flex-direction: column; */
    }

    #collabrative-container{
        /* display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center; */
    }

    #public-container,#collabrative-container{
        margin: 1rem 0;
    }
}